<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->

<div class="jumbotron">
  <h1>Plantipedia<small><sup>&yen;</sup></small></h1> 
  <p>Plantipedia is a resource for updating the history of air plants, online and in real-time!</p>

   <div class="row">
     <div class="col-md-4">
       <h2>Species</h2>
       <p>Tillandsia is a genus of around 650 species of evergreen, perennial flowering plants.</p>
     </div>
     <div class="col-md-4">
       <h2>Plant Family</h2>
       <p>They belong to the plant family of Bromeliaceae.</p>
     </div>
     <div class="col-md-4">
       <h2>Regions</h2>
       <p>They're native to the forests, mountains and deserts.</p>
     </div>
   </div>
</div>
