<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->

<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p>Blocipedia is a resource for updating history online in real-time!</p>

   <div class="row">
     <div class="col-md-4">
       <h2>Accusamus et iusto odio dignissimos ducimus</h2>
       <p>Nam libero tempore, cum soluta nobis est eligendi.</p>
     </div>
     <div class="col-md-4">
       <h2>Accusamus et iusto odio dignissimos ducimus</h2>
       <p>Nam libero tempore, cum soluta nobis est eligendi.</p>
     </div>
     <div class="col-md-4">
       <h2>Accusamus et iusto odio dignissimos ducimus</h2>
       <p>Nam libero tempore, cum soluta nobis est eligendi.</p>
     </div>
   </div>
</div>
