
<div class="f1">
  <h1>Wiki</h1> 
  <button><%= link_to 'New', new_wiki_path %></button>
  <br><br>
  <div class="row">
    <div class="col-md-8">
      <% @wikis.each do |wiki| %>
        <%= render partial: "wiki", locals: { wiki: wiki } %>
      <% end %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>