<h1>Wikis#show</h1>
<p>Find me in app/views/wikis/show.html.erb</p>

<h1>Edit Wiki</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for wikis</p>
     <ul>
       <li>Ngs tlqyxz woafp fra uyakwsog noq.</li>
       <li>Ngs tlqyxz woafp fra uyakwsog noq.</li>
       <li>Ngs tlqyxz woafp fra uyakwsog noq.</li>
     </ul>
   </div>
   <div class="col-md-8">
     
      <!-- Renders the partial! -->
      <%= render "form", wiki: wiki %>
   </div>
 </div>
