
<div class="f1">
  <%= link_to 'Back to Wikis', wikis_path %>
  <div class="row">
    <div class="col-md-4">
    <h1><%= @wiki.title %></h1>
    <small><%= @wiki.body %></small>
    </div>
  </div>
</div>